################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gkom-gl/v15
/Debug
/gl_05/Debug
/gl_05/Release
*.db
/.vs
